@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

button {
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #c6f2ff;
    font-size: 1vw;
    font-weight: 400;
    border-radius: 0.3vw;
    margin: 10px;
}

button:hover {
    transform: scale(1.1);
}

li {
    list-style: none;
}
/*MENU*/
a{

    text-decoration: none;
    color: currentColor;
}

a:hover{

    color: currentColor;
}

header{

    width: 100vw;
    height: 12vh;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid{

    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:992px){

    header .container-fluid{

        padding: 0 5%;
    }
}

header .navb-logo img{

    width: 140px;
    height: 66px;
}

header .navb-items{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{

    text-align: center;
    margin-inline: 15%;
    font-size: 17px;
    letter-spacing: 3px;
    color: #000000;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #999999;
    border-top: 0px solid #999999;
    cursor: pointer;
}

header .item:hover{

    border-bottom: 3px solid #999999;
    border-top: 3px solid #999999;
}

header .mobile-toggler{

    font-size: 30px;
}

/* modal */

.modal-dialog{

    margin: 0;
    width: 430px;
}
/*BANNER*/
.banner-container{
position: relative;
background-size: cover;
width: 100%;
height: 90vh;
/* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(320, 20%, 97%, 0.781), hsla(317, 45%, 52%, 0.664)), url(../imagenes/portada.webp);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(320, 20%, 97%, 0.781), hsla(320, 20%, 97%, 0.781)), url(../imagenes/portada.webp);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-attachment: fixed;
/*background-color: #ff0000;*/
background-repeat: no-repeat;

}
#text{
text-align: center;
width: 100vw;
font-size: 60px;
color:black;
text-transform: uppercase;
}


/*CONTENIDO PAGINA*/
.contenido-derecha {
    grid-area: derecha;
    background: rgb(255, 255, 255);
    display: grid;
    align-items: center;
}

.contenido-derecha .contenido {
    display: grid;
    grid-template-areas:
        "concepto imagen";
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.contenido-derecha .contenido .concepto {
    grid-area: concepto;
}

.contenido-derecha .contenido .imagen {
    grid-area: imagen;
}


.contenido-derecha .concepto {
    width: 45vw;
    text-align: justify;
}

.contenido-derecha img {
    margin:20px;
    height: 50vh;
    width: auto;
    box-shadow: 0 0 0 #494949;
}

/*BOTON WHATSAPP*/
/*Contacto whatsapp*/
#floating-button {
    position: fixed;
    bottom: 45px;
    right: 40px;
    z-index: 100;
}

#chat-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #25d366;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

#chat-circle:hover {
    transform: scale(1.1);
}

#chat-box {
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 99;
    border-radius: 15px;
}

.chat-box-header {
    background-color: #25d366;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.chat-box-header h5 {
    margin: 0;
    font-size: 1vw;
}

#chat-box-toggle {
    cursor: pointer;
}

.chat-box-body {
    padding: 15px;
}

.mensaje {
    margin: 10px;
}

.btn {
    padding: 0 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #25d366;
    border: none;
    cursor: pointer;
}

.btn-whatsapp {
    background-color: #25d366;
    height: 6vh;
    width: 12vw;
    text-align: start;
    
}

.btn-whatsapp:hover {
    background-color: #128c7e;
}

.fa-whatsapp {
    margin: 5px;
}

#chat-circle:before,
#chat-circle:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00e676;
    opacity: 0;
    animation: onda 1.7s infinite;
}

#chat-circle:before {
    animation-delay: 1s;
}

#chat-circle:after {
    animation-delay: 1.3s;
}

#chat-circle img {
    position: relative;
    z-index: 2;
}


@keyframes onda {
    0% {
        transform: scale(1);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
/*Titulo*/
.Titulo-portafolio{
    background: #eee;
}
 .Titulo{
    display:flex;
    justify-content:center;
    align-items:center;
    background: #eee;
}
.Titulo h2{
    margin-top:10px;
    font-size:2.5vw ;
    text-transform:capitalize;
}
/*CONTENIDO LUGAR*/
.container-lugares-slider {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    overflow: hidden;
    position: relative;
}


.container-lugares {
    width: 100%;
    padding: 10px 40px;
}

.container-lugares .swiper-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container-lugares .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);

}

.tarjeta {
    display: grid;
    grid-template-areas:
        "icono lenguaje"
        "titulo titulo"
        "descripcion descripcion"
        "boton boton";
    height: 45vh;
    border-radius: 2%;
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    width: auto;
    padding: 1vw;
}

.tarjeta .tarjeta-icono {
    grid-area: icono;
    text-align: start;
}

.tarjeta .tarjeta-lenguaje {
    grid-area: lenguaje;
    margin-top: 1.5vh;
    text-align: end;
    text-transform:uppercase;
    
    
}

.tarjeta .tarjeta-titulo {
    grid-area: titulo;
    text-align: start;
}

.tarjeta .tarjeta-descripcion {
    grid-area: descripcion;
    text-align: start;
    width: 20vw;
    
}

.tarjeta .tarjeta-comentarios {
    grid-area: comentarios;
    text-align: start;
}

.tarjeta .tarjeta-boton {
    text-align: start;
    grid-area: boton;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarjeta .tarjeta-icono img {
    height: 5vh;
    width: auto;
}

.tarjeta .tarjeta-lenguaje .tarjeta__lenguaje {
    font-size: 0.9vw;
    padding-right:1.5vw;
}

.tarjeta .tarjeta-titulo .tarjeta__titulo {
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-left:5px;
    margin-right:5px;
    
}

.tarjeta .tarjeta-descripcion .tarjeta__descripcion {
    font-size: 0.95vw;
    line-height: 1.5;
    overflow-wrap: break-word;
    padding-right:1vw;
}

.tarjeta .tarjeta-boton a {
    color: #1b62fa;
    font-size: 1vw;
    margin: 5px;
    padding: 0.1vw;
}

/* FOOTER */
.footer-container {
    background-color: #d1d1d18c;
    display: flex;
    justify-content: space-around;
    padding: 2vw 3vw;
}

.footer-logo {
    width: 18vw;
    margin-left: 7rem;

}

.footer-logo h2 {
    font-size: 1.5vw;
}

.footer-logo p {
    font-size: 1vw;
    color: #6e6b6b;
    padding: 1.5rem 0rem;
    line-height: 2.1rem;
}

.footer-logo a {
    text-decoration: none;
}

.fa {
    background-color: var(--black);
    color: #ffffff;
    padding: .6rem;
    border-radius: .3rem;
}

.icons {
    margin: 0rem 1.5rem;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
}
.footer-links h3{
    font-size: 1.5vw;
}
.footer-links ul a li {
    list-style-type: none;
    padding: 10px;
}
.footer-links ul a {
    text-decoration: none;
    color: #6e6b6b;
}
.footer-contactus h2 {
    text-align: center;
    font-size: 1.5vw;
}

.footer-contactus button {
    font-size: 1vw;
    background: #bbbaba;
    border: 1px solid transparent;
    border-radius: .4rem;
    color: black;
    margin-top: 1.6rem;
    cursor: pointer;
}

.footer-contactus button:hover {
    transform: scale(1.1);
}

.copywright-tag {
    background-color: lightgray;
    padding: 1.5rem;
    font-size: 1vw;
    text-align: center;
}

.redes {
    color: black;
}


@media(max-width: 986px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 768px) {
    /*Banner*/
    #text{
        font-size: 40px;
        text-align: center;
        }

    /*CONTENIDO DERECHA*/

    .contenido-derecha {
        border-radius: 0px;
    }

    .contenido-derecha .contenido {
        display: grid;
        grid-template-areas:
            "conceptos"
            "imagen"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 3vw;
        justify-content: center;
        row-gap: 5vh;
    }

    .contenido-derecha .contenido .concepto {
        grid-area: conceptos;
    }

    .contenido-derecha .contenido .imagen {
        grid-area: imagen;
    }

    .contenido-derecha .contenido .concepto {
        width: auto;
        font-size: 3vw;
    }

    .contenido-derecha img {
        height: 35vh;
        width: auto;
    }

    .imagen {
        display: grid;
        justify-content: center;
    }

    /*Tarjetas*/
    .Titulo h2{
   
        font-size:5vw ;
    }
    .tarjetas {
        display: flex;
        grid-area: tarjetas;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 3vw;
        row-gap: 1vw;
        overflow-x: auto;
        height: 80vh;
    }

    .tarjeta {
        height: 50vh;
        width: auto;
        padding: 3vw;
    }

    .tarjeta .tarjeta-icono img {
        height: 5vh;
        width: auto;
    }

    .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla {
        display: flex;
        column-gap: 0.3vw;
    }

    .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla .tarjeta__comentario {
        font-size: 2.3vw;
    }

    .tarjeta .tarjeta-lenguaje .tarjeta__lenguaje {
        font-size: 2vw;
    }

    .tarjeta .tarjeta-titulo .tarjeta__titulo {
        text-transform: uppercase;
        font-size: 3.5vw;
    }

    .tarjeta .tarjeta-descripcion .tarjeta__descripcion {
        font-size: 3vw;
        line-height: 1.5;
        width: 73vw;
    }

    .tarjeta .tarjeta-boton a {
        font-size: 3vw;
        color: #1b62fa;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        text-align: center;
        width: 70vw;
        flex-direction: row;
        margin-left: 0;
        font-size: 4vw;
    }

    .footer-logo h2 {
        font-size: 4vw;
    }

    .footer-logo p {
        font-size: 3.5vw;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 15px;
    }

    .footer-links h3 {
        font-size: 3.5vw;
    }

    .footer-links ul a li {
        width: 100%;
        font-size: 3vw;

    }

    .footer-contactus h2 {
        font-size: 4vw;
    }

    .footer-contactus {
        align-items: center;
        max-width: 100%;
    }

    .footer-contactus button {
        font-size: 3vw;
        background: #bbbaba;
        border: 1px solid transparent;
        border-radius: .4rem;
        color: black;
        margin-top: 1.6rem;
        cursor: pointer;
        width: 30vw;
        height: 5vh;

    }

    .copywright-tag {
        font-size: 2.5vw;
    }
 /*boton whatsapp*/
 .chat-box-header h5{
    font-size: 3vw;
 }
 .mensaje{
    font-size: 3vw;
    
 }
 .chat-box-body a{
    font-size: 3vw;
 }
 #chat-box-toggle{
    font-size: 3vw;
    
 }
 .btn-whatsapp {
    background-color: #25d366;
    height: 4vh;
    width: 35vw;
    text-align: start;
    
}
/*Modal*/
.modal-dialog{

    width: 82%;
}
}

.modal-content{

border-radius: 0;
height: 100vh;
overflow-y: scroll;
background-color: #ffffff;
}

.modal-header{

display: flex;
justify-content: space-between;
align-items: center;
width: 88%;
margin: 0 auto;
padding-bottom: 16px;
border-bottom: 2px solid #fefefe;
}

.modal-header img{

width: 140px;
height: 66px;
margin-top: 17.5px;
}

.modal-header .btn-close{

background: transparent;
opacity: 1;
}

.modal-header i{

color: #000000;
font-size: 30px;
}

.modal-body{

width: 88%;
margin: 0 auto;
padding: 75px 0 0 0;
flex: unset;
}

.modal-body .modal-line{

width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
padding: 7px 0;
margin-bottom: 50px;
cursor: pointer;
transition: all .5s ease;
color: #000000;
border-bottom: 1px solid #000000;
}

.modal-body .modal-line:hover{

color: #999999;
border-bottom: 1px solid #999999;
}

.modal-line a{

font-size: 17px;
font-weight: 500;
letter-spacing: 2.5px;
color: #000000;
}

.modal-line i{

color: currentColor;
font-size: 30px;
width: 35px;
margin-right: 15px;
padding: 0 0 3px 3px;
}


.mobile-modal-footer{

width: 87%;
margin: 0 auto;
padding: 20% 0;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 25px;
color: #000000;
}

.mobile-modal-footer i:hover{
color: #999999;

}